

body {
    background: green;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: goldenrod;
   
 }

#message-el {
    font-style: italic;
}


button {
    background: goldenrod;
    color: #016f32;
    padding: 10px ;
    width:150px;
    font-weight:bold;
    border:none;
    border-radius:3px;
    margin:2px auto;
}
  