*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body {
    background: green;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: goldenrod;
    margin:10px;
    font-size: 3rem;
 }

#message-el {
    font-style: italic;
}

p{
    margin: 10px;
    font-size: 1.5rem;
}

button {
 
    background: goldenrod;
    color: #016f32;
    padding: 10px ;
    width:150px;
    font-weight:bold;
    border:none;
    border-radius:3px;
}